@model IEnumerable<FundraiserDto>

<h3>All available fundraisers</h3>
@foreach (var fund in Model)
{
    <partial model="fund" name="..\Fundraiser\_FundraiserSummary" />
}
<div class="form-group">
    <div class="col-md-offset-2 col-md-5">
        <a class="btn btn-primary" asp-controller="Fundraiser" asp-action="Create">Create Fundraiser</a>
    </div>
</div>
