@model IEnumerable<FundraiserDto>
<h3>Welcome to Zonor Donor</h3>
<h5>Latest Fundraisers</h5>
@foreach (var fund in Model)
{
    <partial model="fund" name="..\Fundraiser\_FundraiserSummary"/>
  }
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-5">
        <a class="btn btn-primary" asp-controller="Fundraiser" asp-action="Create">Create Fundraiser</a>
    </div>
</div>
