@model IEnumerable<ZonerDonor.Entities.FundraiserDto>
<h3>Welcome to Zonor Donor</h3>
@foreach (var fund in Model)
{
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="card">
        <h2>@fund.Name</h2>
        <h4>@fund.Amount</h4>
        <h4>@fund.CurrentTotal</h4>
        <h4>@fund.CreatedDate.ToString("d")</h4>

    </div>
 </div>
}
