@model FundraiserDto
    <div class="lead">
        <h2>@Model.Name</h2>
        <h4>$@Model.CurrentTotal raised of $@Model.Amount goal</h4>

        <div>
            <a class="btn btn-primary" asp-controller="Donation" asp-action="Index" asp-route-id="@Model.Id">Donate!!!!</a>
        </div>
    </div>